CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
image
image.self
image.self.out
image.velf
image.vpk.out
image.vpk_param.sfo
_deps

