CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
space
space.self
space.self.out
space.velf
space.vpk.out
space.vpk_param.sfo
_deps

